.navbar
  .container
    .brand
      safe-passphrase

.container
  .row
    .panel
      %form(accept-charset='UTF-8' action='/passphrase' class='form-horizontal' method='get')
        %fieldset
          .control-group
            %label(class='control-label')
              Phrase structure:

            .controls
              - Generator.all_styles.each do |st|
                %label.radio
                  - if chosen_style == st
                    %input(name='style' type='radio' value="#{st}" checked='checked')
                  - else
                    %input(name='style' type='radio' value="#{st}")
                  = st

              %input(class='btn' name='commit' type='submit' value='Generate')

  .panel
    %p
      Your new passphrase is:
    %h1
      = passphrase

  .panel
    %p
      Now use this to construct a safe passphrase that includes some capitals, digits, special characters
      and an indication of the website you're using. For example, you might set your
      %strong facebook
      password to:
    %h2
      #{passphrase.gsub(/e/, '3').gsub(/s/, '5').gsub(/i/, '1').capitalize}+face

