.navbar
  .container
    .brand
      safe-passphrase

.container
  .row
    %p
      A strong, safe password is best constructed from two or three memorable words that are
      not usually seen together, combined with a different keyword per website or account.
      So ...

  .panel
    %form(accept-charset='UTF-8' action='/passphrase' class='form-horizontal' method='get')
      %fieldset
        .control-group
          %label(class='control-label')
            Select a phrase structure:

          .controls
            - Generator.all_styles.each do |st|
              %label.radio
                - if chosen_style == st
                  %input(name='style' type='radio' value="#{st}" checked='checked')
                - else
                  %input(name='style' type='radio' value="#{st}")
                = st

            %input(class='btn' name='commit' type='submit' value='Generate a passphrase')

  .panel
    %p
      Your new passphrase is:
    %h1
      = passphrase
    %p
      (Refresh the page until you see a phrase that sticks in your mind.)

  .panel
    %p
      Now use this to construct a safe passphrase that includes some capitals, digits, special characters
      and an indication of the website you're using. For example, you might set your
      %strong facebook
      password to:
    %h2
      = example.generate

  .footer
    &copy;
    %a(href='http://kevinrutherford.co.uk')
      Kevin Rutherford
    2013.

